<header>
    <div class="background-container">
        <div class="header-content">
            <h1>THIS IS COMPANY PAGE</h1>
            <h2>THIS IS COMPANY SUBHEADER STUFF</h2>
            <hr>
            <p>Company paragraph text that's important</p>
            <p>Lorem Ipsum something blah blah</p>
            <div class="call-to-action">
                <a class="btn btn-primary btn-xl" data-toggle="modal" data-target="#modal">CTA Button</a>
            </div>
        </div>
    </div>
</header>
<section id="company" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Company</h2>
                <hr class="light">
                <p class="text-faded">CPQ Solutions is a global leader in Oracle CPQ Cloud implementations and services. Our expert design team with over a century of collective experience has been serving and providing thought leadership to some of the largest Oracle CPQ Cloud clients in the world. From complex platform integrations to automation testing, project management to staff augmentation, we provide a 360 degree suite of services to increase your ROI and streamline the CPQ experience.</p>
                <a class="btn btn-default btn-xl" href="/company">About Us!</a>
            </div>
        </div>
    </div>
</section>
<section id="solutions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Solutions</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <div class="service-box">
                    <img src="img/solutions-crm.png"/>
                    <h3>CRM</h3>
                    <p class="text-muted">Oracles Sales Cloud, Salesforce and Microsoft Dynamics. We are experts at CRM integrations.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-box">
                    <img src="img/solutions-bi.png"/>
                    <h3>BI</h3>
                    <p class="text-muted">We understand how to build CPQ to give meaningful intelligence to reports and dashboards.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-box">
                    <img src="img/solutions-middleware.png"/>
                    <h3>Middleware</h3>
                    <p class="text-muted">Many integrated solutions require middleware, and we have extensive experience in best practices for using it.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-box">
                    <img src="img/solutions-esignature.png"/>
                    <h3>eSignature</h3>
                    <p class="text-muted">Streamline your approvals for sales and customers by connecting CPQ to your eSignature platform.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-box">
                    <img src="img/solutions-erp.png"/>
                    <h3>ERP</h3>
                    <p class="text-muted">Integrating CPQ with ERP brings all the reward in streamlining your sales process, full circle.</p>
                </div>
            </div>
        </div>
        <div class="call-to-action text-center">
            <p>We provide a wide range of integrated solutions for Oracle CPQ Cloud</p>
            <a class="btn btn-primary btn-xl" href="/solutions">Integrate Solution</a>
        </div>
    </div>
</section>
<section id="services" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/services-managed-services.png"/>
                <h3>Managed Services</h3>
                <p class="text-faded">Using best of breed from both agile and waterfall methodologies, we manage the full project lifecycle from design to delivery.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/services-staff-augmentation.png"/>
                <h3>Staff Augmentation</h3>
                <p class="text-faded">Let us provide the right skill set that you need to work exclusively for you, without having to add any permanent staff.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/services-customer-support.png"/>
                <h3>Customer Support</h3>
                <p class="text-faded">Taking care of our customers is important to us. With offices located around world, we offer amazing 24/7 customer support.</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <img src="img/services-trainer.png"/>
                <h3>Administrative Training</h3>
                <p class="text-faded">Great training can make or break your new software deployment. That"s why we use T3, the best method available.</p>
            </div>
        </div>
        <div class="call-to-action text-center">
            <p>We offer a full suite of CPQ services to handle every phase of your project</p>
            <a class="btn btn-default btn-xl" href="/solutions">Create Solution</a>
        </div>
    </div>
</section>
<section id="clients" class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/1.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Company</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/2.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Company</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/3.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Company</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/4.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Company</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/5.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Company</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="#">
                    <img class="img-responsive" src="img/portfolio/6.jpg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Company</div>
                            <div class="project-name">Name Something</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <h2>We're Hiring!</h2>
        <hr class="light">
        <a class="btn btn-default btn-xl" href="#modal" data-toggle="modal" data-target="#modal">Come join us</a>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Talk to us</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="tel:650-532-3096">
                    <p>650-532-3096</p>
                </a>
            </div>
            <div class="col-lg-4 text-center">
                <a href="mailto:nhissaria@cpqsolutions.com"> 
                    <p>nhissaria@cpqsolutions.com</p>
                </a>
            </div>
        </div>
    </div>
</section>