<footer>
	<div class="container">
		<div class="row no-gutter"> 
			<div class="col-sm-6">
				<h3>San Carlos</h3>
				<p>1091 INDUSTRIAL RD, SUITE 107</p>
				<p>SAN CARLOS, CA 94070, UNITED STATES</p>
				<h4>
					<a href="tel:650-532-3096">650-532-3096</a>
				</h4>
				<p>
					<a href="https://www.linkedin.com/company/cpq-solutions" target="_blank">
						LinkedIn
					</a>
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Hyderabad</h3>
				<p>8-2-248/1/7/56, 1ST FLOOR, PLOT NO.56</p>
				<p>NAGARJUNA HILLS, PUNJAGUTTA</p>
				<p>HYDERABAD - 500082</p>
				<p>TELANGANA, INDIA</p>
			</div>
		</div>
		<div class="row no-gutter">
			<div class="col-xs-12">
				<img class="img-responsive pull-right" src="img/partner-salesforce.png" alt="salesforce partner" width="200"/>
				<img class="img-responsive pull-right" src="img/partner-oraclegold.png" alt="oracle gold partner"/>
			</div>
		</div>
		<div class="row">
			<div class="copyright col-xs-12 text-center">&copy; Copyright 2016. CPQ Solutions, LLC. All rights reserved.</div>
		</div>
	</div>
</footer>