<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form action="https://docs.google.com/forms/d/18pE8faIRUlseTZZPGx59sRzotevhqU02yLyjV6FTENY/formResponse" method="POST" role="form" target="_blank">
        <input type="hidden" name="pageNumber" value="0">
        <input type="hidden" name="backupCache" value="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalLabel" class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="entry.1300526318">Name</label>
                        <input id="#entry_0" class="form-control" type="text" name="entry.1300526318" value="" placeholder="Please enter your name">
                    </div>
                    <div class="form-group">
                        <label for="entry.1728046174">Email</label>
                        <input id="#entry_2" class="form-control" type="text" name="entry.1728046174" value="" placeholder="Please enter your email">
                    </div>
                    <div class="form-group">
                        <label for="entry.1490165977">Inquiry</label>
                        <input id="#entry_4" class="form-control" rows="8" cols="75" name="entry.1490165977" value="" placeholder="Please let us know how we can help you">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>